fudge/gnd/gnd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>

  <!-- xml schema defining structure of a GND file
       author: cmattoon
       IM #: LLNL-MI-491437
       versions: 
       - version 0.2, July 2011
       - version 0.1, November 2010

       this schema can be used to validate that a gnd file has the correct structure:
       >xmllint -schema gnd.xsd filename.gnd  # may wish to use the '-noout' option

       Find definitions of some common data containers at the end of the schema. 
       For example, a crossSection element often contains pointwise or piecewise data,
       which inherit from the 'xData_XYs1d' and 'xData_regions_1d' data containers. -->


  <!-- We start by defining <reactionSuite>, the root element of a GND file.
       A reactionSuite contains
       - one each of:
         'styles' (may be 'evaluated', 'processed', etc)
         'documentations'
         'particles' (list of all particles going in and out of each reaction in the file)
         'resonances' (optional)
       - followed by one or more of:
         'reaction' (defines a single reaction, includes cross section and product information)
       - optionally 1 of:
         'partialGammaProduction' (for all gammas coming from unknown reactions)
       - and 0 or more of:
         'summedReaction' (for total, nonelastic, etc)
         'fissionComponent' (for 1st-, 2nd-, etc fissions, to avoid double-counting if total is present)
         'production' (for storing production cross section for radioactive products)
  -->

  <xs:element name="reactionSuite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="styles" type="styles"/>
        <xs:element name="documentations" type="documentations"/>
        <xs:element name="aliases" type="aliases" minOccurs="0"/>
        <xs:element ref="particles"/>
        <xs:element ref="resonances" minOccurs="0"/>
        <xs:element name="reactions" type="reactions"/>
        <xs:element ref="partialGammaProduction" minOccurs="0"/>
        <xs:element name="sums" type="sums" minOccurs="0" maxOccurs="1"/>
        <xs:element name="fissionComponents" type="fissionComponents" minOccurs="0" maxOccurs="1"/>
        <xs:element name="productions" type="productions" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="projectile" type="xs:NCName" use="required"/>
      <xs:attribute name="target" type="xs:NCName" use="required"/>
      <xs:attribute name="projectileFrame" type="frame" use="required"/>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

    <xs:complexType name="styles">
      <xs:choice maxOccurs="unbounded">
        <xs:element name="evaluated">
          <xs:complexType>
            <xs:attribute name="label" type="xs:NCName" use="required"/>
            <xs:attribute name="library" type="xs:string" use="required"/>
            <xs:attribute name="version" use="required"/>
            <xs:attribute name="date" type="xs:date" use="required"/>
            <xs:attribute name="temperature" type="PhysicalQuantity" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="crossSectionReconstructed">
          <xs:complexType>
            <xs:attribute name="label" type="xs:NCName" use="required"/>
            <xs:attribute name="date" type="xs:date" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="heated">
          <xs:complexType>
            <xs:attribute name="label" type="xs:NCName" use="required"/>
            <xs:attribute name="date" type="xs:date" use="required"/>
            <xs:attribute name="temperature" type="PhysicalQuantity" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="averageProductData">
          <xs:complexType>
            <xs:attribute name="label" type="xs:NCName" use="required"/>
            <xs:attribute name="date" type="xs:date" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>

    <xs:complexType name="documentations">
      <xs:sequence>
        <xs:element name="documentation" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="documentation" mixed="true">
      <xs:attribute name="name" type="xs:NCName" use="required"/>
    </xs:complexType>

    <xs:complexType name="aliases" mixed="true">
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="alias">
          <xs:complexType>
            <xs:attribute name="key" type="xs:NCName" use="required"/>
            <xs:attribute name="value" type="xs:NCName" use="required"/>
            <xs:attribute name="nuclearMetaStable" type="xs:integer"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

  <!-- list of particles, excited levels and gammas -->
  <xs:element name="particles">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="photon" type="particle"/>
        <xs:element name="lepton" type="particle"/>
        <xs:element name="isotope" type="particle"/> <!-- FIXME: make isotope class -->
      </xs:choice>
    </xs:complexType>
  </xs:element>

    <xs:complexType name="particle">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="level" type="nuclearLevel"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="mass" type="PhysicalQuantity" use="required"/>
      <xs:attribute name="transportable" type="xs:boolean"/>
      <xs:attribute name="unstable" type="xs:boolean"/>
      <xs:attribute name="spin"/>
      <xs:attribute name="parity"/>
      <xs:attribute name="charge" type="xs:integer"/>
      <xs:attribute name="generation" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="nuclearLevel">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="gamma" type="gamma"/>
      </xs:sequence>
      <xs:attribute name="energy" type="PhysicalQuantity" use="required"/>
      <xs:attribute name="label" type="xs:NMTOKEN" use="required"/>
      <xs:attribute name="metaStableIndex" type="xs:integer"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="spin"/>
      <xs:attribute name="parity"/>
    </xs:complexType>

    <xs:complexType name="gamma">
      <xs:attribute name="finalLevel" type="xs:string" use="required"/>
      <xs:attribute name="probability" type="xs:double" use="required"/>
    </xs:complexType>

  <!-- resonances may contain just a scattering radius, or may contain resolved/unresolved sections -->
  <xs:element name="resonances">
    <xs:complexType>
      <xs:choice>
        <xs:element name="scatteringRadius" type="scatteringRadius"/>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="resolved" type="resolved"/>
          <xs:element minOccurs="0" maxOccurs="1" name="unresolved" type="unresolved"/>
        </xs:sequence>
      </xs:choice>
      <xs:attribute name="reconstructCrossSection" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>

    <xs:complexType name="scatteringRadius">
      <xs:choice>
        <xs:element name="constant" type="constantScatteringRadius"/>
        <xs:element name="Ldependent"/>
        <xs:element name="XYs1d" type="xData_XYs1d_primary"/>
      </xs:choice>
      <xs:attribute name="lowerBound" type="PhysicalQuantity"/>
      <xs:attribute name="upperBound" type="PhysicalQuantity"/>
    </xs:complexType>

      <!-- types of scattering radius -->

        <xs:complexType name="constantScatteringRadius">
          <xs:attribute name="label" type="xs:string"/>
          <xs:attribute name="value" type="PhysicalQuantity" use="required"/>
          <xs:attribute name="lowerBound" type="PhysicalQuantity"/>
          <xs:attribute name="upperBound" type="PhysicalQuantity"/>
        </xs:complexType>

        <xs:complexType name="Ldependent">
          <xs:sequence>
            <xs:element name="default">
              <xs:complexType>
                <xs:attribute name="value" type="PhysicalQuantity" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="Lspecific" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="L" type="xs:integer" use="required"/>
                <xs:attribute name="value" type="PhysicalQuantity" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="style" type="xs:NCName" use="required"/>
        </xs:complexType>

    <xs:complexType name="resolved">
      <xs:choice>
        <xs:element name="SingleLevel_BreitWigner" type="SingleLevel_BreitWigner"/>
        <xs:element name="MultiLevel_BreitWigner" type="MultiLevel_BreitWigner"/>
        <xs:element name="Reich_Moore" type="Reich_Moore"/>
        <xs:element name="R_Matrix_Limited" type="R_Matrix_Limited"/>

        <!-- multiple resolved regions are currently allowed but deprecated (only in Pu239 right now) --> 
        <xs:element maxOccurs="unbounded" name="region">
          <xs:complexType>
            <xs:choice>
              <xs:element name="SingleLevel_BreitWigner" type="SingleLevel_BreitWigner"/>
              <xs:element name="MultiLevel_BreitWigner" type="MultiLevel_BreitWigner"/>
              <xs:element name="Reich_Moore" type="Reich_Moore"/>
              <xs:element name="R_Matrix_Limited" type="R_Matrix_Limited"/>
            </xs:choice>
            <xs:attribute name="index" type="xs:integer" use="required"/>
            <xs:attribute name="lowerBound" type="PhysicalQuantity" use="required"/>
            <xs:attribute name="upperBound" type="PhysicalQuantity" use="required"/>
            <xs:attribute name="formalism" type="xs:NCName" use="required"/>
          </xs:complexType>
        </xs:element>

      </xs:choice>
      <xs:attribute name="multipleRegions" type="xs:NCName"/>
      <xs:attribute name="lowerBound" type="PhysicalQuantity"/>
      <xs:attribute name="upperBound" type="PhysicalQuantity"/>
      <xs:attribute name="formalism" type="xs:NCName"/>
    </xs:complexType>

      <!-- types of resolved resonance data -->
      <xs:complexType name="SingleLevel_BreitWigner">
        <xs:sequence>
          <xs:element name="scatteringRadius" type="scatteringRadius"/>
          <xs:element name="resonanceParameters" type="resonanceParameters"/>
        </xs:sequence>
        <xs:attribute name="calculateChannelRadius" type="xs:boolean" use="required"/>
      </xs:complexType>

      <xs:complexType name="MultiLevel_BreitWigner">
        <xs:sequence>
          <xs:element name="scatteringRadius" type="scatteringRadius"/>
          <xs:element name="resonanceParameters" type="resonanceParameters"/>
        </xs:sequence>
        <xs:attribute name="calculateChannelRadius" type="xs:boolean"/>
      </xs:complexType>

      <xs:complexType name="Reich_Moore">
        <xs:sequence>
          <xs:element name="scatteringRadius" type="scatteringRadius"/>
          <xs:element name="resonanceParameters" type="resonanceParameters"/>
        </xs:sequence>
        <xs:attribute name="LvaluesNeededForConvergence" type="xs:integer" use="required"/>
        <xs:attribute name="calculateChannelRadius" type="xs:boolean"/>
        <xs:attribute name="computeAngularDistribution" type="xs:boolean"/>
      </xs:complexType>

      <xs:complexType name="R_Matrix_Limited">
        <xs:sequence>
          <xs:element name="channels">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="channel" type="RML_openChannel"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="spinGroup" type="RML_spinGroup"/>
        </xs:sequence>
        <xs:attribute name="approximation" type="xs:NCName" use="required"/>
        <xs:attribute name="calculateShift" type="xs:boolean"/>
        <xs:attribute name="calculatePenetrability" type="xs:boolean"/>
        <xs:attribute name="calculateChannelRadius" type="xs:boolean"/>
      </xs:complexType>

        <!-- for R-Matrix format, specify each output channel followed by list of resonances grouped by 'spinGroup' -->
        <xs:complexType name="RML_openChannel">
          <xs:sequence>
            <xs:element name="link" type="xlink"/>
            <xs:element name="scatteringRadius" type="scatteringRadius" minOccurs="0"/>
            <xs:element name="effectiveRadius" type="scatteringRadius" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="label" type="xs:string" use="required"/>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="ENDF_MT" type="xs:integer" use="required"/>
          <xs:attribute name="Q" type="PhysicalQuantity"/>
          <xs:attribute name="calculatePenetrability" type="xs:boolean"/>
          <xs:attribute name="calculateShift" type="xs:boolean"/>
        </xs:complexType>
        <xs:complexType name="RML_spinGroup">
          <xs:sequence>
            <xs:element minOccurs="0" name="overrides" type="RML_overrides"/>
            <xs:element minOccurs="0" maxOccurs="1" name="resonanceParameters" type="resonanceParameters"/>
          </xs:sequence>
          <xs:attribute name="index" type="xs:integer" use="required"/>
          <xs:attribute name="spin" use="required"/>
          <xs:attribute name="parity" use="required"/>
        </xs:complexType>
        <xs:complexType name="RML_overrides">
          <xs:sequence>
            <xs:element name="channelOverride" type="RML_channelOverride" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
        <xs:complexType name="RML_channelOverride">
          <xs:sequence>
            <xs:element name="scatteringRadius" type="scatteringRadius" minOccurs="0"/>
            <xs:element name="effectiveRadius" type="scatteringRadius" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="label" type="xs:string" use="required"/>
        </xs:complexType>

    <xs:complexType name="resonanceParameters">
      <xs:sequence>
        <xs:element name="table" type="table"/>
      </xs:sequence>
    </xs:complexType>

    <!-- unresolved resonance region -->
    <xs:complexType name="unresolved">
      <xs:choice>
        <xs:element name="tabulatedWidths" type="tabulatedWidths"/>
      </xs:choice>
      <xs:attribute name="lowerBound" type="PhysicalQuantity" use="required"/>
      <xs:attribute name="upperBound" type="PhysicalQuantity" use="required"/>
      <xs:attribute name="formalism" type="xs:NCName" use="required"/>
    </xs:complexType>

      <!-- currently only support one format for unresolved: -->
      <xs:complexType name="tabulatedWidths">
        <xs:sequence>
          <xs:element name="scatteringRadius" type="scatteringRadius"/>
          <xs:element maxOccurs="unbounded" name="L_section" type="URR_L_section"/>
        </xs:sequence>
        <xs:attribute name="interpolation" type="interpolation" use="required"/>
        <xs:attribute name="forSelfShieldingOnly" type="xs:boolean"/>
        <xs:attribute name="ENDFconversionFlag" use="required"/>
      </xs:complexType>

      <xs:complexType name="URR_L_section">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="J_section" type="URR_J_section"/>
        </xs:sequence>
        <xs:attribute name="L" use="required" type="xs:integer"/>
      </xs:complexType>

      <xs:complexType name="URR_J_section">
        <xs:sequence>
          <xs:element minOccurs="0" name="constantWidths" type="URR_constantWidths"/>
          <xs:element minOccurs="0" name="energyDependentWidths" type="energyDependentWidths"/>
        </xs:sequence>
        <xs:attribute name="J" use="required"/>
        <xs:attribute name="neutronDOF" type="xs:integer" use="required"/>
        <xs:attribute name="fissionDOF" type="xs:integer"/>
        <xs:attribute name="competitiveDOF" type="xs:decimal"/>
      </xs:complexType>

      <xs:complexType name="URR_constantWidths">
        <xs:attribute name="neutronWidth" type="PhysicalQuantity"/>
        <xs:attribute name="captureWidth" type="PhysicalQuantity"/>
        <xs:attribute name="fissionWidthA" type="PhysicalQuantity"/>
        <xs:attribute name="levelSpacing" type="PhysicalQuantity"/>
      </xs:complexType>

      <xs:complexType name="energyDependentWidths">
        <xs:sequence>
          <xs:element name="table" type="table"/>
        </xs:sequence>
      </xs:complexType>



  <!-- after the documentation, particles and resonances the GND file continues
       with '<reactions>', '<sums>', '<productions>' and '<fissionComponents>' elements. -->
  <xs:complexType name="reactions">
    <xs:sequence>
      <xs:element name="reaction" maxOccurs="unbounded"/>
      <xs:element name="production" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sums">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="crossSectionSum" type="crossSectionSum"/>
      <xs:element name="multiplicitySum" type="multiplicitySum"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="fissionComponents">
    <xs:sequence>
      <xs:element name="fissionComponent" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="productions">
    <xs:sequence>
      <xs:element name="production" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>


  <!-- reaction class, describes a single reaction including cross section and outputChannel
       with list of products -->
  <xs:element name="reaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="documentation" type="documentation" minOccurs="0"/>
        <xs:element ref="crossSection"/>
        <xs:element name="outputChannel" type="outputChannel"/>
      </xs:sequence>
      <xs:attribute name="label" type="xs:integer" use="required"/>
      <xs:attribute name="outputChannel" use="required"/>
      <xs:attribute name="date" type="xs:date" use="required"/>
      <xs:attribute name="fissionGenre" type="xs:NCName"/>
      <xs:attribute name="partialReaction" type="xs:integer"/>
      <xs:attribute name="ENDF_MT" type="xs:integer" use="required"/>
      <xs:attribute name="process" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="fissionComponent">  <!-- for 1st-chance, 2nd-chance etc -->
    <xs:complexType>
      <xs:sequence>
        <xs:element name="documentation" type="documentation" minOccurs="0"/>
        <xs:element ref="crossSection"/>
        <xs:element name="outputChannel" type="outputChannel"/>
      </xs:sequence>
      <xs:attribute name="label" type="xs:integer" use="required"/>
      <xs:attribute name="outputChannel" use="required"/>
      <xs:attribute name="date" type="xs:date" use="required"/>
      <xs:attribute name="fissionGenre" type="xs:NCName" use="required"/>
      <xs:attribute name="ENDF_MT" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="production">  <!-- for storing production cross sections -->
    <xs:complexType>
      <xs:sequence>
        <xs:element name="documentation" type="documentation" minOccurs="0"/>
        <xs:element ref="crossSection"/>
        <xs:element name="outputChannel" type="outputChannel"/>
      </xs:sequence>
      <xs:attribute name="label" type="xs:integer" use="required"/>
      <xs:attribute name="outputChannel" use="required"/>
      <xs:attribute name="product"/>
      <xs:attribute name="date" type="xs:date" use="required"/>
      <xs:attribute name="ENDF_MT" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- FIXME partialGammaProduction is deprecated, should be removed soon -->
  <xs:element name="partialGammaProduction">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="documentation" type="documentation" minOccurs="0"/>
        <xs:element ref="crossSection"/>
        <xs:element name="outputChannel" type="outputChannel"/>
      </xs:sequence>
      <xs:attribute name="label" type="xs:integer" use="required"/>
      <xs:attribute name="outputChannel" use="required"/>
      <xs:attribute name="date" type="xs:date" use="required"/>
      <xs:attribute name="ENDF_MT" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- May want to expressly store the sum over other quantities (e.g. total cross section or total gamma multiplicity) -->
  <xs:complexType name="crossSectionSum">
    <xs:sequence>
      <xs:element name="documentation" type="documentation" minOccurs="0"/>
      <xs:element name="summands" type="summands"/>
      <xs:element name="Q" type="Q"/>
      <xs:element ref="crossSection"/>
    </xs:sequence>
    <xs:attribute name="label" type="xs:integer" use="required"/>
    <xs:attribute name="name" use="required"/>
    <xs:attribute name="date" type="xs:date" use="required"/>
    <xs:attribute name="ENDF_MT" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="multiplicitySum">
    <xs:sequence>
      <xs:element name="documentation" type="documentation" minOccurs="0"/>
      <xs:element name="summands" type="summands"/>
      <xs:element name="multiplicity" type="multiplicity"/>
    </xs:sequence>
    <xs:attribute name="label" type="xs:integer" use="required"/>
    <xs:attribute name="name" use="required"/>
    <xs:attribute name="date" type="xs:date"/> <!-- FIXME should be required -->
    <xs:attribute name="ENDF_MT" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="summands">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="add" type="xlink"/>
      <xs:element name="subtract" type="xlink"/>
    </xs:choice>
  </xs:complexType>

  <!-- contents of reaction elements: -->

  <xs:element name="crossSection">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="XYs1d" type="xData_XYs1d_primary"/>
        <xs:element name="regions1d" type="xData_regions_1d_primary"/>
        <xs:element name="resonancesWithBackground"/>
        <xs:element name="reference" type="xlink"/>
<!--      do these still appear?
        <xs:element name="weightedPointwise" type="weightedPointwise"/>
        <xs:element name="weightedPiecewise" type="weightedPiecewise"/> -->
      </xs:choice>
    </xs:complexType>
  </xs:element>

    <!-- possible forms of crossSection: -->

      <xs:complexType name="resonancesWithBackground">
        <xs:sequence>
          <xs:element name="resonanceRegion" type="xlink"/>
          <xs:choice>
            <xs:element name="XYs1d" type="xData_XYs1d_primary"/>
            <xs:element name="regions1d" type="xData_regions_1d_primary"/>
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="style" type="xs:string" use="required"/>
      </xs:complexType>

<!--      <xs:complexType name="weightedPointwise">
        <xs:sequence>
          <xs:element name="weight" type="xData_1d"/>
        </xs:sequence>
        <xs:attribute ref="xlink:href" use="required"/>
        <xs:attribute ref="xlink:type" use="required"/>
      </xs:complexType>

      <xs:complexType name="weightedPiecewise">
        <xs:sequence>
          <xs:element name="piecewise" type="regionsXYs"/>
        </xs:sequence>
        <xs:attribute ref="xlink:href" use="required"/>
        <xs:attribute ref="xlink:type" use="required"/>
      </xs:complexType>   -->

  <!-- reaction Q-value -->
  <xs:complexType name="Q">
    <xs:choice>
      <xs:element name="constant" type="constantQValue"/>
      <xs:element name="pointwise" type="xData_XYs1d"/>
    </xs:choice>
  </xs:complexType>

    <!-- possible forms of Q: -->

    <xs:complexType name="constantQValue">
      <xs:attribute name="label" type="xs:NCName" use="required"/>
      <xs:attribute name="value" type="PhysicalQuantity" use="required"/>
    </xs:complexType>

  <!-- products of a reaction are listed within 'outputChannel'. If a product decays, the 
      resulting decay products are listed within another 'outputChannel' -->
    <xs:complexType name="outputChannel">
      <xs:sequence>
        <xs:element name="Q" type="Q"/>
        <xs:element minOccurs="0" name="fissionEnergyReleased" type="fissionEnergyReleased"/>
        <xs:element name="products">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="product" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="genre" type="xs:NCName" use="required"/>
    </xs:complexType>

    <!-- for 'fission' outputChannel: -->
    <xs:complexType name="fissionEnergyReleased">
      <xs:sequence>
        <xs:element name="polynomial" type="fissionEnergyPolynomial"/>
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fissionEnergyPolynomial">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="delayedBetaEnergy" type="datalist"/>
        <xs:element name="delayedGammaEnergy" type="datalist"/>
        <xs:element name="delayedNeutronKE" type="datalist"/>
        <xs:element name="neutrinoEnergy" type="datalist"/>
        <xs:element name="nonNeutrinoEnergy" type="datalist"/>
        <xs:element name="promptGammaEnergy" type="datalist"/>
        <xs:element name="promptNeutronKE" type="datalist"/>
        <xs:element name="promptProductKE" type="datalist"/>
        <xs:element name="totalEnergy" type="datalist"/>
      </xs:choice>
      <xs:attribute name="energyUnit" type="xs:string" use="required"/>
      <xs:attribute name="hasUncertainties" type="xs:boolean"/>
      <xs:attribute name="order" type="xs:integer"/>
      <xs:attribute name="label" type="xs:NCName" use="required"/>
    </xs:complexType>

  <!-- outputChannel contains a list of products: -->
  <xs:element name="product">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="multiplicity" type="multiplicity"/>
        <xs:element name="distribution" type="distribution"/>
        <xs:element minOccurs="0" name="outputChannel" type="outputChannel"/>
        <xs:element minOccurs="0" name="depositionEnergy" type="depositionEnergy"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="label" type="xs:string" use="required"/>
      <xs:attribute name="decayRate"/>
      <xs:attribute name="emissionMode" type="xs:NCName"/>
      <!-- remove next two?
      <xs:attribute name="primary"/>
      <xs:attribute name="discrete"/>
      -->
      <xs:attribute name="originationLevel"/>
      <xs:attribute name="ENDFconversionFlag"/>
    </xs:complexType>
  </xs:element>

    <!-- each product has a multiplicity: -->

    <xs:complexType name="multiplicity">
      <xs:choice minOccurs="1">
        <xs:element name="constant" type="constantMultiplicity"/>
        <xs:element name="XYs1d" type="xData_XYs1d_primary"/>
        <xs:element name="regions1d" type="xData_regions_1d_primary"/>
        <xs:element name="polynomial1d" type="xData_polynomial_1d_primary"/>
        <xs:element name="reference" type="xlink"/>
        <xs:element ref="weightedReference"/>
        <xs:element name="unknown"/>
      </xs:choice>
    </xs:complexType>

    <!-- types of multiplicity data -->
      <xs:complexType name="constantMultiplicity">
        <xs:attribute name="label" type="xs:NCName" use="required"/>
        <xs:attribute name="value" type="xs:double" use="required"/>
      </xs:complexType>
      <xs:element name="weightedReference">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="reference" type="xlink"/>
            <xs:element name="XYs1d" type="xData_XYs1d_primary"/>
          </xs:sequence>
          <xs:attribute name="label" type="xs:NCName" use="required"/>
        </xs:complexType>
      </xs:element>

    <!-- products also have distribution data. Start by defining allowed frames -->
    <xs:simpleType name="frame">
      <xs:restriction base="xs:string">
        <xs:enumeration value="lab" />
        <xs:enumeration value="centerOfMass" />
      </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="distribution">
      <xs:choice minOccurs="0">
        <xs:element name="angularTwoBody" type="angularTwoBody"/>
        <xs:element name="uncorrelated" type="uncorrelated"/>
        <xs:element name="angularEnergy" type="angularEnergy"/>
        <xs:element name="energyAngular" type="energyAngular"/>
        <xs:element name="KalbachMann" type="KalbachMann"/>
        <xs:element name="reference" type="xlink"/>
        <xs:element name="CoulombExpansion" type="CoulombExpansion"/>
        <xs:element name="NuclearPlusCoulombInterference" type="NuclearPlusCoulombInterference"/>
        <xs:element name="coherentScattering" type="coherentScattering"/>
        <xs:element name="incoherentScattering" type="incoherentScattering"/>
        <xs:element name="unknown"/>
        <xs:element name="unspecified"/>  <!-- 'unknown' has an equivalent in ENDF, 'unspecified' doesn't -->
      </xs:choice>
    </xs:complexType>

    <!-- distribution components (angular, energy, etc) -->
    <xs:complexType name="angularTwoBody">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="XYs2d" type="xData_XYs2d_primary"/>
        <xs:element name="regions2d" type="xData_regions_2d_primary"/>
        <xs:element name="isotropic" type="isotropic"/>
        <xs:element name="recoil" type="xlink"/>
      </xs:choice>
      <xs:attribute name="label" type="xs:NCName" use="required"/>
      <xs:attribute name="productFrame" type="frame" use="required"/>
    </xs:complexType>

    <xs:complexType name="uncorrelated">
      <xs:sequence>
        <xs:element name="angular" type="angular_uncorrelated"/>
        <xs:element name="energy" type="energy_uncorrelated"/>
      </xs:sequence>
      <xs:attribute name="label" type="xs:NCName" use="required"/>
      <xs:attribute name="productFrame" type="frame" use="required"/>
    </xs:complexType>

    <xs:complexType name="angular_uncorrelated">
      <xs:choice maxOccurs="1">
        <xs:element name="XYs2d" type="xData_XYs2d_primary"/>
        <xs:element name="isotropic" type="isotropic"/>
      </xs:choice>
    </xs:complexType>

    <xs:complexType name="energy_uncorrelated">
      <xs:choice maxOccurs="1">
        <xs:element name="XYs2d" type="xData_XYs2d_primary"/>
        <xs:element name="regions2d" type="xData_regions_2d_primary"/>
        <xs:element name="generalEvaporation" type="generalEvaporation"/>
        <xs:element name="constant" type="constantEnergyDistribution"/>
        <xs:element name="NBodyPhaseSpace" type="NBodyPhaseSpace"/>
        <xs:element name="primaryGamma"/>
        <xs:element name="evaporation" type="evaporation"/>
        <xs:element name="weightedFunctionals" type="weightedFunctionals"/>
        <xs:element name="simpleMaxwellianFission" type="simpleMaxwellianFission"/>
        <xs:element name="Watt" type="Watt"/>
        <xs:element name="MadlandNix" type="MadlandNix"/>
      </xs:choice>
    </xs:complexType>

      <!-- uncorrelated angular distribution forms -->
      <xs:complexType name="isotropic"/>

      <!-- uncorrelated energy distribution forms -->

        <xs:complexType name="energyFunctionalData">
          <xs:sequence>
            <xs:element name="XYs1d" type="xData_XYs1d_primary"/>
          </xs:sequence>
        </xs:complexType>

        <xs:complexType name="evaporation">
          <xs:sequence>
            <xs:element name="theta" type="energyFunctionalData"/>
          </xs:sequence>
          <xs:attribute name="U" type="PhysicalQuantity" use="required"/>
        </xs:complexType>

        <xs:complexType name="MadlandNix">
          <xs:sequence>
            <xs:element name="T_M" type="energyFunctionalData"/>
          </xs:sequence>
          <xs:attribute name="EFL" type="PhysicalQuantity" use="required"/>
          <xs:attribute name="EFH" type="PhysicalQuantity" use="required"/>
        </xs:complexType>

        <xs:complexType name="Watt">
          <xs:sequence>
            <xs:element name="a" type="energyFunctionalData"/>
            <xs:element name="b" type="energyFunctionalData"/>
          </xs:sequence>
          <xs:attribute name="U" type="PhysicalQuantity" use="required"/>
        </xs:complexType>

        <xs:complexType name="generalEvaporation">
          <xs:sequence>
            <xs:element name="theta" type="energyFunctionalData"/>
            <xs:element name="g" type="energyFunctionalData"/>
          </xs:sequence>
          <xs:attribute name="U" type="PhysicalQuantity" use="required"/>
        </xs:complexType>

        <xs:complexType name="simpleMaxwellianFission">
          <xs:sequence>
            <xs:element name="theta" type="energyFunctionalData"/>
          </xs:sequence>
          <xs:attribute name="U" type="PhysicalQuantity" use="required"/>
        </xs:complexType>

        <!-- energy distribution may be expressed as weighted sum of two or more
             functional forms: -->
        <xs:complexType name="weightedFunctionals">
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="weighted">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="XYs1d" type="xData_XYs1d_primary"/>
                  <xs:choice>
                    <xs:element name="evaporation"/>
                  </xs:choice>
                </xs:sequence>
                <xs:attribute name="index" type="xs:integer"/> <!-- FIXME: use="required"/> -->
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>

        <xs:complexType name="NBodyPhaseSpace">
          <xs:attribute name="mass" type="PhysicalQuantity" use="required"/>
          <xs:attribute name="numberOfProducts" type="xs:integer" use="required"/>
        </xs:complexType>

        <xs:complexType name="constantEnergyDistribution">
          <xs:attribute name="label" type="xs:NCName"/>
          <xs:attribute name="value" type="PhysicalQuantity" use="required"/>
        </xs:complexType>
        <!-- end of energy distribution forms -->

    <xs:complexType name="angularEnergy">
      <xs:sequence>
        <xs:element name="XYs3d" type="xData_XYs3d_primary"/>
      </xs:sequence>
      <xs:attribute name="label" type="xs:NCName" use="required"/>
      <xs:attribute name="productFrame" type="frame" use="required"/>
    </xs:complexType>

    <xs:complexType name="energyAngular">
      <xs:sequence>
        <xs:element name="XYs3d" type="xData_XYs3d_primary"/>
      </xs:sequence>
      <xs:attribute name="label" type="xs:NCName" use="required"/>
      <xs:attribute name="productFrame" type="frame" use="required"/>
    </xs:complexType>

    <xs:complexType name="KalbachMann">
      <xs:sequence>
        <xs:element name="f" type="KalbachMann_subform"/>
        <xs:element name="r" type="KalbachMann_subform"/>
        <xs:element name="a" type="KalbachMann_subform" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="label" type="xs:NCName" use="required"/>
      <xs:attribute name="productFrame" type="frame" use="required"/>
    </xs:complexType>

        <!-- f,r and a inside KalbachMann look the same -->
        <xs:complexType name="KalbachMann_subform">
          <xs:sequence>
            <xs:element name="XYs2d" type="xData_XYs2d_primary"/>
          </xs:sequence>
        </xs:complexType>

    <xs:complexType name="NuclearPlusCoulombInterference">
      <xs:choice>
        <xs:element name="XYs2d" type="xData_XYs2d_primary"/>
      </xs:choice>
      <xs:attribute name="label" type="xs:NCName" use="required"/>
      <xs:attribute name="productFrame" type="frame" use="required"/>
    </xs:complexType>

    <xs:complexType name="CoulombExpansion">
      <xs:sequence>
        <!-- expansion has three terms: nuclear, real interference and imaginary interference -->
        <xs:choice minOccurs="3" maxOccurs="3">
          <xs:element name="XYs2d" type="xData_XYs2d_primary"/>
          <xs:element name="regions2d" type="xData_regions_2d_primary"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="label" type="xs:NCName" use="required"/>
      <xs:attribute name="productFrame" type="frame" use="required"/>
    </xs:complexType>

    <!-- coherent/incoherent: special distribution types for photo-atomic data -->
    <xs:complexType name="coherentScattering">
      <xs:sequence>
        <!-- expansion has three terms: scattering factor, real and imaginary anomalous factor -->
        <xs:choice minOccurs="3" maxOccurs="3">
          <xs:element name="XYs1d" type="xData_XYs1d_primary"/>
          <xs:element name="regions1d" type="xData_regions_1d_primary"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="label" type="xs:NCName" use="required"/>
      <xs:attribute name="productFrame" type="frame" use="required"/>
    </xs:complexType>

    <xs:complexType name="incoherentScattering">
      <xs:attribute name="label" type="xs:NCName" use="required"/>
      <xs:attribute name="productFrame" type="frame" use="required"/>
    </xs:complexType>

    <xs:complexType name="unknown">
      <xs:attribute name="label" type="xs:NCName" use="required"/>
      <xs:attribute name="productFrame" type="frame" use="required"/>
    </xs:complexType>

    <xs:complexType name="unspecified">
      <xs:attribute name="label" type="xs:NCName" use="required"/>
      <xs:attribute name="productFrame" type="frame" use="required"/>
    </xs:complexType>
    <!-- end of distribution components. -->

    <!-- optional: product may have energy deposition -->
    <xs:complexType name="depositionEnergy">
      <xs:choice minOccurs="0">
        <xs:element name="XYs1d" type="xData_XYs1d_primary"/>
        <xs:element name="regions1d" type="xData_regions_1d_primary"/>
      </xs:choice>
    </xs:complexType>





  <!-- Some basic data containers are used throughout GND files, and are defined here.
       They include 'axes' which contains information on units and interpolation,
       'PhysicalQuantity' containing a number with units, link (using xlink syntax),
       pointwise and piecewise versions of 1,2 and 3-dimensional data containers,
       and the 'table' element: -->
  
  <xs:complexType name="xlink">
    <xs:attribute name="label" type="xs:NCName"/>
    <xs:attribute ref="xlink:type"/>
    <xs:attribute ref="xlink:href" use="required"/>
  </xs:complexType>

  <!-- check that 'PhysicalQuantity' attributes have both number and unit: '7.24e+7 eV' for example.
      In special cases, they can also start with 'u:' (for undefined levels) -->
  <xs:simpleType name="PhysicalQuantity">
    <xs:restriction base="xs:string">
      <xs:pattern value="(u:)?(-?[0-9]+)(\.[0-9]*)?(e(\+|\-)?[0-9]+)? [a-zA-Z]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="axes">
    <xs:sequence>
      <xs:element name="axis" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="index" use="required" type="xs:integer"/>
          <xs:attribute name="label" use="required"/>
          <xs:attribute name="unit" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- plain text data (except for documentation) may only contain a list of doubles: -->
  <xs:simpleType name="datalist">
    <xs:list itemType="xs:double"/>
  </xs:simpleType>

  <!-- allowed interpolation types -->
  <xs:simpleType name="interpolation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="flat"/>
      <xs:enumeration value="charged-particle"/>  <!-- FIXME... should this be here? -->
      <xs:enumeration value="lin-lin"/>
      <xs:enumeration value="lin-log"/>
      <xs:enumeration value="log-lin"/>
      <xs:enumeration value="log-log"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- 'values' element contains a list of floating-point numbers plus optional attributes -->
  <xs:complexType name="xData_values">
    <xs:simpleContent>
      <xs:extension base="datalist">
        <xs:attribute name="length" type="xs:integer"/>
        <xs:attribute name="sep" type="xs:string"/> <!-- FIXME limit choices? -->
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- 1d data (for cross section, multiplicity, series, distribution at one incident energy, etc.) -->
  <xs:complexType name="xData_XYs1d_primary">
    <xs:sequence>
      <xs:element name="axes" type="axes"/>
      <xs:element name="values" type="xData_values"/>
      <xs:element name="uncertainties" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="label" type="xs:NCName"/>
    <xs:attribute name="interpolation" type="interpolation"/>
  </xs:complexType>

  <xs:complexType name="xData_XYs1d_inRegions">
    <xs:sequence>
      <xs:element name="values" type="xData_values"/>
    </xs:sequence>
    <xs:attribute name="index" type="xs:integer"/> <!-- use="required"/> -->
    <xs:attribute name="interpolation" type="interpolation"/>
  </xs:complexType>

  <xs:complexType name="xData_XYs1d">
    <xs:sequence>
      <xs:element name="values" type="xData_values"/>
    </xs:sequence>
    <xs:attribute name="value" type="xs:double" use="required"/>
    <xs:attribute name="interpolation" type="interpolation"/>
  </xs:complexType>

  <!-- piecewise 1d data -->
  <xs:complexType name="xData_regions_1d_primary">
    <xs:sequence>
      <xs:element name="axes" type="axes"/>
      <xs:element name="XYs1d" type="xData_XYs1d_inRegions" minOccurs="2" maxOccurs="unbounded"/>
      <xs:element name="uncertainties" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="label" type="xs:NCName"/>
  </xs:complexType>

  <xs:complexType name="xData_regions_1d">
    <xs:sequence>
      <xs:element name="XYs1d" type="xData_XYs1d_inRegions" minOccurs="2" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="value" type="xs:double" use="required"/>
  </xs:complexType>

  <!-- series data: Legendre expansions, polynomials -->
  <xs:complexType name="xData_Legendre_1d">
    <xs:sequence>
      <xs:element name="values" type="xData_values"/>
    </xs:sequence>
    <xs:attribute name="value" type="xs:double" use="required"/>
  </xs:complexType>

  <xs:complexType name="xData_polynomial_1d_primary">
    <xs:sequence>
      <xs:element name="axes"/>
      <xs:element name="values" type="xData_values"/>
    </xs:sequence>
    <xs:attribute name="label" type="xs:NCName" use="required"/>
    <xs:attribute name="domainMin" type="PhysicalQuantity" use="required"/>
    <xs:attribute name="domainMax" type="PhysicalQuantity" use="required"/>
  </xs:complexType>

  <!-- 2d data: energy or angular distribution -->
  <xs:complexType name="xData_XYs2d_primary">
    <xs:sequence>
      <xs:element name="axes" type="axes"/>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="Legendre" type="xData_Legendre_1d"/>
        <xs:element name="XYs1d" type="xData_XYs1d"/>
        <xs:element name="regions1d" type="xData_regions_1d"/>
      </xs:choice>
      <xs:element name="uncertainties" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="label" type="xs:string"/>
    <xs:attribute name="interpolation" type="interpolation"/>
    <xs:attribute name="interpolationQualifier" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="xData_XYs2d_inRegions">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="Legendre" type="xData_Legendre_1d"/>
        <xs:element name="XYs1d" type="xData_XYs1d"/>
        <xs:element name="regions1d" type="xData_regions_1d"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="interpolation" type="interpolation"/>
    <xs:attribute name="interpolationQualifier" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="xData_XYs2d">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="Legendre" type="xData_Legendre_1d"/>
        <xs:element name="XYs1d" type="xData_XYs1d"/>
        <xs:element name="regions1d" type="xData_regions_1d"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="value" type="xs:double" use="required"/>
    <xs:attribute name="interpolation" type="interpolation"/>
    <xs:attribute name="interpolationQualifier" type="xs:string"/>
  </xs:complexType>

  <!-- 2d regions -->
  <xs:complexType name="xData_regions_2d_primary">
    <xs:sequence>
      <xs:element name="axes" type="axes"/>
      <xs:element name="XYs2d" type="xData_XYs2d_inRegions" minOccurs="2" maxOccurs="unbounded"/>
      <xs:element name="uncertainties" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="label" type="xs:NCName"/>
    <xs:attribute name="interpolationQualifier" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="xData_regions_2d">
    <xs:sequence>
      <xs:element name="XYs2d" type="xData_XYs2d_inRegions" minOccurs="2" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="value" type="xs:double" use="required"/>
  </xs:complexType>

  <!-- 3d data: double-differential distribution -->
  <xs:complexType name="xData_XYs3d_primary">
    <xs:sequence>
      <xs:element name="axes" type="axes"/>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="XYs2d" type="xData_XYs2d"/>
        <xs:element name="regions2d" type="xData_regions_2d"/>
      </xs:choice>
      <xs:element name="uncertainties" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="label" type="xs:string"/>
    <xs:attribute name="interpolationQualifier" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="xData_XYs3d_inRegions">
    <xs:sequence>
      <xs:element name="axes" type="axes"/>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="XYs2d" type="xData_XYs2d"/>
        <xs:element name="regions2d" type="xData_regions_2d"/>
      </xs:choice>
      <xs:element name="uncertainties" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="index" type="xs:integer"/> <!-- use="required"/> -->
  </xs:complexType>

  <!-- 3d regions -->
  <xs:complexType name="xData_regions_3d_primary">
    <xs:sequence>
      <xs:element name="axes" type="axes"/>
      <xs:element name="XYs3d" type="xData_XYs3d_inRegions" minOccurs="2" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="value" type="xs:double" use="required"/>
  </xs:complexType>

  <!-- uncertainties can appear inside many xData containers -->
  <xs:complexType name="uncertanties">
    <xs:sequence>
      <xs:element name="uncertainty" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="uncertainty">
    <xs:choice>
      <xs:element name="XYs1d" type="xData_XYs1d_primary"/>
      <xs:element name="link" type="xlink"/>
    </xs:choice>
    <xs:attribute name="index" type="xs:integer"/>
    <xs:attribute name="label" type="xs:string"/>
    <xs:attribute name="style" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="pdf" type="xs:string"/>
    <xs:attribute name="relation" type="xs:string"/>
  </xs:complexType>

  <!-- 'table' has a list of columns + a rectangular array of data -->
  <xs:complexType name="table">
    <xs:sequence>
      <xs:element name="columnHeaders">
        <xs:complexType>
          <xs:sequence minOccurs="1">
            <xs:element name="column" type="column" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="data" type="datalist"/>
    </xs:sequence>
    <xs:attribute name="rows" type="xs:integer" use="required"/>
    <xs:attribute name="columns" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="column">
    <xs:attribute name="index" type="xs:integer" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="units" type="xs:string"/>
    <xs:attribute name="L" type="xs:integer"/>
    <xs:attribute name="channelSpin" type="xs:double"/>
    <xs:attribute name="effectiveRadius" type="PhysicalQuantity"/>
    <!--    <xs:attribute name="scatteringRadius" type="PhysicalQuantity"/>  -->
  </xs:complexType>


</xs:schema>
